In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', 20)

In [65]:
df = pd.read_excel('credit_scoring_dqlab.xlsx')
print(df.head())

  kode_kontrak  pendapatan_setahun_juta kpr_aktif  durasi_pinjaman_bulan  \
0   AGR-000001                      295        YA                     48
1   AGR-000011                      271        YA                     36
2   AGR-000030                      159     TIDAK                     12
3   AGR-000043                      210        YA                     12
4   AGR-000049                      165     TIDAK                     36

   jumlah_tanggungan rata_rata_overdue  risk_rating
0                  5      61 - 90 days            4
1                  5      61 - 90 days            4
2                  0       0 - 30 days            1
3                  3      46 - 60 days            3
4                  0      31 - 45 days            2

In [66]:
df.drop('kode_kontrak', axis=1, inplace=True)

In [67]:
print('melihat data unique pada kolom rata-rata-overdue')
print(df['rata_rata_overdue'].unique())
print('\n')
print('melihat data unique pada kolom risk_rating')
print(df['risk_rating'].unique())
print('membandingkan data pada kolom rata-rata-overdue dan risk_rating:')
print(df[['rata_rata_overdue', 'risk_rating']])

melihat data unique pada kolom rata-rata-overdue
['61 - 90 days' '0 - 30 days' '46 - 60 days' '31 - 45 days' '> 90 days']


melihat data unique pada kolom risk_rating
[4 1 3 2 5]
membandingkan data pada kolom rata-rata-overdue dan risk_rating:
    rata_rata_overdue  risk_rating
0        61 - 90 days            4
1        61 - 90 days            4
2         0 - 30 days            1
3        46 - 60 days            3
4        31 - 45 days            2
..                ...          ...
895         > 90 days            5
896      46 - 60 days            3
897       0 - 30 days            1
898      31 - 45 days            2
899       0 - 30 days            1

[900 rows x 2 columns]

In [68]:
df.drop('rata_rata_overdue', axis=1, inplace=True)
print(df['risk_rating'].value_counts())

risk_rating
3    291
1    227
2    159
4    120
5    103
Name: count, dtype: int64

In [69]:
df.info()
print('\n data unik untuk kpr_aktif', df['kpr_aktif'].unique())
print('\n Tipe data', type(df['kpr_aktif'].iloc[1]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pendapatan_setahun_juta  900 non-null    int64
 1   kpr_aktif                900 non-null    object
 2   durasi_pinjaman_bulan    900 non-null    int64
 3   jumlah_tanggungan        900 non-null    int64
 4   risk_rating              900 non-null    int64
dtypes: int64(4), object(1)
memory usage: 35.3+ KB

 data unik untuk kpr_aktif ['YA' 'TIDAK']

 Tipe data <class 'str'>

In [70]:
#konversi tipedata kpr_aktif menjadi boolean

df.loc[(df['kpr_aktif'] == 'YA'), 'kpr_aktif'] = True
df.loc[(df['kpr_aktif'] == 'TIDAK'), 'kpr_aktif'] = False
df['kpr_aktif'] = df['kpr_aktif'].astype('bool')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pendapatan_setahun_juta  900 non-null    int64
 1   kpr_aktif                900 non-null    bool
 2   durasi_pinjaman_bulan    900 non-null    int64
 3   jumlah_tanggungan        900 non-null    int64
 4   risk_rating              900 non-null    int64
dtypes: bool(1), int64(4)
memory usage: 29.1 KB

In [71]:
features_cols = ['pendapatan_setahun_juta', 'kpr_aktif', 'durasi_pinjaman_bulan', 'jumlah_tanggungan']
X = df[features_cols]
y= df['risk_rating']

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)
print('menampilkan data training set:',X_train.shape)
print('menampilkan data test set:',X_test.shape)

menampilkan data training set: (540, 4)
menampilkan data test set: (360, 4)

In [74]:
print('menampilkan data training set:',y_train.value_counts(normalize=True)*100)
print('menampilkan data test set:',y_test.value_counts(normalize=True)*100)

menampilkan data training set: risk_rating
3    32.407407
1    25.000000
2    17.222222
4    13.703704
5    11.666667
Name: proportion, dtype: float64
menampilkan data test set: risk_rating
3    32.222222
1    25.555556
2    18.333333
4    12.777778
5    11.111111
Name: proportion, dtype: float64